* {
  margin: 0;
  font-size: 20px;
}

h1 {
  font-size: 1.18em;
}

.App {
  text-align: center;
}

/* Navbar, Footer */
.navbar, footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #333;
  color: white;
  height: max-content;
}

.navbar {
  padding: 20px;
  justify-content: space-between;
}

.footer{
  padding: 40px;
  justify-content: space-around;
}

#logo {
  width: 60px; 
  height: auto;
}

.navbar-right,
.logoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.navbar-right a,
.footer a,
.dropbtn {
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #333;
  font-size: large;
}

.navbar-right a:hover,
.dropdown:hover .dropbtn {
  background-color: #575757;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
}

.dropdown-content .dropdown-item {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footerLinks,
.footerCourses{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
} 

ul {
  text-align: start;
}

/*Register & Login*/

.registrationPage,
.loginPage {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 5px;
  width: 25%;
}

.formContainer>form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: start;
}

.inputField {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 3px;
}

.inputField:focus {
  outline: none;
  border-color: #575757;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: start;
}

.submitButton,
.deletePost,
.button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover,
.deletePost:hover {
  background-color: #575757;
}

.smallLink {
  color: #333;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

/*Homepage*/
.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5% 0 10%;
  flex: 1 1 0;
  background-color: #333;
  color: white;
  width: 100%;
  gap: 5%;
  text-align: end;
}

.mainDivText{
  text-wrap: wrap;
  width: 30%;
}

.mainDivText h1 {
  font-size: 50px;
}

.mainDiv > img {
  width: 40%;
  height: auto;
  border-radius: 10%;
}

.aboutUs,
.courseDiv,
.recentBlogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 10%;
  gap: 50px;
}

.recentBlogs {
  width: 80%;
}

.courseDiv {
  background-color: #575757;
  color: white;
}

.cardsInDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 10px;
  background-color: white;
  color: #333;
  gap: 50px;
  flex-wrap: wrap;
  background-color: inherit;
  color: inherit;
  width: 100%;
}


/*Expandable Card & Post Card*/
.card,
.post-card {
  width: 25%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  overflow: hidden;
  max-height: 400px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.card.expanded {
  max-height: none;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.5em;
  margin: 16px 0;
  text-align: center;
}

.card-text {
  padding: 0 20px;
  overflow: hidden;
}

.expand-button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 16px;
  color: inherit;
}

.post-card:hover {
  transform: scale(1.05);
}

.post-card-image {
  width: 100%;
  height: auto;
}

.post-card-title {
  font-size: 1.2em;
  margin: 8px 0;
}

/*Kontakt*/

.contactPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.contactDiv,
.contactInfo,
.map {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  text-align: start;
}

.contactDiv{
  padding: 10%;
  gap: 12px;
}

.contactDiv h1,
.blogPage h1,
.postPage h1,
.coursePage h1,
.user-content h1 {
  font-size: 50px;
}

.contactInfo {
  gap: 6px;
  width: 10rem;
}

.map {
  width: 30%;
  height: auto;
}

/*Blog & Post*/

.blogPage,
.postPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 10%;
}

.blogs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
}

.blogCard{
  width: 25%;
  height: auto;
}

.postContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}

.imageList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.imageList img {
  height: 200px;
  width: auto;
}

/*Course Page*/
.coursePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 10%;
}

.courseContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}

/*Sidebar*/

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 150px;
  background-color: #4d4d4d;
  color: white;
  padding: 15%;
  gap: 12px;
  height: min-content;
  left: 0;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  width: 100%;
}

.sidebar a {
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #4d4d4d;
  font-size: large;
}

.sidebar a:hover {
  background-color: #757575;
}

.profile-content {
  width: 100%;
}

.user-content {
  padding: 5% 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.user-content h2 {
  font-size: 30px;
}