* {
  margin: 0;
}

.App {
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.navbar-right,
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a,
.navbar-right a,
.dropbtn {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  background-color: #333;
}

.navbar-left a:hover,
.navbar-right a:hover,
.dropdown:hover .dropbtn {
  background-color: #575757;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
}

.dropdown-content .dropdown-item {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-left .logo {
  height: 40px;
}

/*Register*/

/* Add this CSS code to your styles.css file */

.registrationPage,
.loginPage {
  margin: 10%;
  display: flex;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 5px;
  width: 25%;
}

.formContainer>form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: start;
}

.inputField {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 3px;
}

.inputField:focus {
  outline: none;
  border-color: #575757;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: start;
}

.submitButton {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #575757;
}

.smallLink {
  color: #333;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}